CatalogoCloud_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="CatalogoCloud_v2">
        <xs:complexType>
            <xs:sequence>
                
         </xs:sequence>
        </xs:complexType>
                           <xs:element name="servidor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:attributeGroup name="AtributosServidor"/>
                                        
                            <simplexType name="TipoEstado">
                               <restriction base="xs:string">
                                  <xs:pattern value="encendido|apagado"/>
                                 </restriction>
                                
                                <xs:group name="AtributosServidor">
                                <xs:attribute name="id" type="string"/>
                                <xs:attribute name="estado" type="string"/>
                                <xs:attribute name="rack" type="string"/>
                            </xs:group>
                                            
                            </simplexType>
                            <simplexType name="Tipoid">
                                 <restriction base="xs:string">
                                    <xs:pattern value="srv-[a-z]+-[0-9]+"/>
                                    </restriction>
                            </simplexType>
                            
                            <xs:group name="AtributosServidor">
                                <xs:attribute name="id" type="string"/>
                                <xs:attribute name="estado" type="string"/>
                                <xs:attribute name="rack" type="string"/>
                            </xs:group>
                                            
                            <simplexType name="Tipoid">
                                 <restriction base="xs:string">
                                    <xs:pattern value="srv-[a-z]+-[0-9]+"/>
                                    </restriction>
                            </simplexType>
                            
                            <xs:group name="AtributosServidor">
                                <xs:attribute name="id" type="string"/>
                                <xs:attribute name="estado" type="string"/>
                                <xs:attribute name="rack" type="string"/>
                            </xs:group>
                                        
                              
                            <simplexType name="Tiporack">
                                    <restriction base="xs:string">
                                        <xs:pattern value="rack-[a-z]+-[0-9]+"/>
                                    </restriction>
                            </simplexType>     

                                        <xs:element name="cpu">
                                            <xs:complexType>
                                                <xs:attribute name="arquitectura" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <simplexType name="TipoCPU">
                                            <restriction base="xs:string">
                                                <xs:pattern value="[A-Za-z0-9\s]+"/>
                                            </restriction>
                                        </simplexType>
                                        
                                        <group name="ComponenteshHrdware">
                                            <xs:attribute name="id" type="string"/>
                                            <xs:attribute name="estado" type="string"/>
                                            <xs:attribute name="rack" type="string"/>
                                        </group>
                            
                            <xs:element name="gpu">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="gpu" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="tipo" type="xs:string"/>
                                                <xs:attribute name="capacidad" type="xs:integer" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                                        <xs:element name="gpu" minOccurs="0">
                                            <xs:complexType>
                                                <xs:attribute name="modelo" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <simplexType name="TipoGPU">
                                            <restriction base="xs:string">
                                                <xs:pattern value="[A-Za-z0-9\s]+"/>
                                            </restriction>
                                        </simplexType>
                                        
                                        <group name="ComponenteshHrdware">
                                            <xs:attribute name="id" type="string"/>
                                            <xs:attribute name="estado" type="string"/>
                                            <xs:attribute name="rack" type="string"/>
                                        </group>

                                        <xs:element name="discos">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="disco" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="tipo" type="xs:string"/>
                                                            <xs:attribute name="capacidad" type="xs:integer" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <simplexType name="TipoDisco">
                                            <restriction base="xs:string">
                                                <xs:pattern value="HDD|NVMe"/>
                                            </restriction>
                                        </simplexType>
                                        
                                        <group name="ComponenteshHrdware">
                                            <xs:attribute name="id" type="string"/>
                                            <xs:attribute name="estado" type="string"/>
                                            <xs:attribute name="rack" type="string"/>
                                        </group>
                                        
                                        <xs:element name="red">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ip_fija" type="xs:string"/>
                                                    <xs:element name="dhcp" type="xs:string"/>
                                                    <auditorial>
                                                        <xs:element name="fecha_creacion" type="xs:dateTime"/>
                                                        <xs:element name="tecnico" type="xs:string"/>
                                                        <xs:element name="nota" type="xs:string"/>
                                                    </auditorial>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                                
                            <xs:choice>
                                
                            </xs:choice>

                                        <xs:sequence>
                                            <xs:attribute name="id" type="xs:string" use="required"/>
                                            <xs:attribute name="estado" type="xs:string" use="required"/>
                                        </xs:sequence>
                                    <xs:complexType>

                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="estado" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
    
    

                        <xs:attribute name="ubicacion" type="xs:string" use="required"/>
                    </xs:complexType>
     </simplexType>
            <xs:element>
            </xs:sequence>
    </xs:element>
  </complexType>
</simplexType>
</xs:schema>
